<div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title m-3">{{ name }}</h2>
        <h4 class="card-title"><i class="fas fa-mug-hot mr-2"></i> {{ role }}</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: {{ id }}</li>
            <li class="list-group-item"><a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item">Office number: {{ officeNumber }}</li>
        </ul>
    </div>
</div>
<br>